<div id="page_wrapper">
<h1><%= @user.fullname %></h1>
<h2>Email Address:<%= @user.email %></h2>
<h3>User ID:<%= @user.id %></h3>
<h3>User Name:<%= @user.username %></h3>
<h3>Account Created at: <%= @user.created_at %></h3>
<h1>Posts</h1>
<% if @user.posts.empty? %>
<h3>No Posts</h3>
<% else %>
<div class="post_wrapper">
   <% @user.posts.each do |p| %>
      <h3 class="title"><%= link_to p.title,post_path(p.id) %></h3>
      <p class="date"><%= p.created_at.strftime("%B %d, %Y") %></p><br>
   <% end %>
</div>   
<% end %>   
</div>