
<% @posts.each do |post| %>
	<div class="post_wrapper">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<p class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= post.created_at.strftime("%B %d, %Y") %> <i class="fa fa-user" aria-hidden="true"></i> <%= post.user.fullname %> <i class="fa fa-comment-o" aria-hidden="true"></i> <%= post.comments.count %> <i class="fa fa-heart-o" aria-hidden="true"></i> <%= post.get_upvotes.size %></p>
	</div>
<% end %>