<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag "https://apis.google.com/js/plusone.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.svg" %>
			<% end %>
		</div>
		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="https://facebook.com/waleed.zahid.73">Facebook</a></li>
			<li><a href="https://twitter.com/waleedzahid_">Twitter</a></li>
			<li><a href="https://github.com/waleedzahid106a">Github</a></li>
			<li><a href="mailto:waleed.zahid654@gmail.com">Email</a></li>
			<li><a href="/terms">Terms and Conditions</a></li>
		</ul>

		<% if !user_signed_in? %>
			<p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
		<% end %>
	</div>

	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% elsif current_page?(terms_path) %>
				<p>Terms and Conditions</p>
			<% else %>
				<%= link_to "Back to All Posts", root_path %>
			<% end %>
			<% if user_signed_in? %>
				<div class="buttons">
					<%= link_to "New Post", new_post_path, :class => "button" %>
					<%= link_to "My Profile", users_path(current_user.slug), :class => "button" %>
					<%= link_to 'Log out', destroy_user_session_path, :method => :delete, :class => "button" %>
				</div>
			<% end %>
		</div>
		
		<% flash.each do |key, value| %>
  			<%= content_tag :div, value, class: "alert" %>
		<% end %>
		<%= yield %>
	</div>
</body>	
</html>
